<div style="background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); padding-left: 15vw; padding-top: 50px;">
    <h1 style="color: whitesmoke">{{ site.author.name | smartify }}</h1>
    <div style="height: 50px"></div>
    <p style="color: whitesmoke">{{ site.author.self_intro }}</p>
    <div style="height: 25px"></div>
</div>

<div class="container content">
    <main>
        <article id="cv" class="page">
            <div style="height: 25px"></div>
            {% include item.html list=site.data.items %}
        </article>
    </main>
</div>
