<style>
#cv .cv-section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#cv p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
</style>

<div style="height: 50px"></div>

<div class="container content">
    <main>
        <article id="cv" class="page">
            <div class="cv-container" style="display:flex; justify-content: space-between;">
                <div style="font-size: 35px; font-weight: bold;">{{ site.author.name | smartify }}</div>
                <div>{% include social.html %}</div>
            </div>
            <hr />
            {% include item.html list=site.data.items %}
        </article>
    </main>
</div>
