body {
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #c0c0d8;
    /* background-image: url('./bg.jpg');
    background-size: cover; */
}
